md-slider {
  width: 80%;
}

:host /deep/ .md-slider-track-fill {
  background-color: #ff1493;
}

:host /deep/ .md-slider-thumb::after {
  background-color: #ff1493;
  border-color: #ff1493;
}

:host /deep/ .md-slider-thumb-label {
  background-color: #ff1493;
}
