<header>
  <hs-mute-control [playing]="playing"
                    (start)="start.next()"
                    (stop)="stop.next()">
  </hs-mute-control>
  <button md-button (click)="switchToSine()">
    Base sine
  </button>
  <button md-button (click)="switchToSquare()">
    Square
  </button>
  <button md-button (click)="switchToSawTooth()">
    Sawtooth
  </button>
  <hs-note-control [frequency]="fundamentalFrequency"
                    (frequencyChange)="fundamentalFrequencyChange.next($event)">
  </hs-note-control>
</header>
